body {
    font-family: Arial, sans-serif;/*change this ugly writing*/
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}
.todo-container {
    background: #fff;
    margin: 60px auto;
    padding: 20px;
    border-radius: 8px;/*round corners*/
    max-width: 400px;/*not too wide card to move aroun later when you want customization*/
}
.input-section {
    display: flex;
    gap: 10px;
}
#task-input {/*make the input box longer while keeping the add task button in place*/
    flex: 1;
    padding: 6px;
}
button {/*stylize the add task button*/
    padding: 6px 12px;
    cursor:pointer;
}
.task {/*style the task items*/
    background: #eee;
    margin: 10px ;
    padding: 8px;
    display:flex;
    justify-content: space-between;
    border-radius: 4px;
}
.task.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
.task.completed button {
    text-decoration: none;
    opacity: 1;
}
button {
  display: inline-block;
}