body {
    font-family:Arial, sans-serif ;
    background: #f5f5f5;
    margin:0;
    padding:0;
}
.todo-container{
max-width: 400 px;/*not too wide card to move aroun later when you want customization*/ 
margin: 60px auto; /*horizontal centered card*/
background: #fff;
padding: 20px;
border-radius:8px;/*round corners*/
}
